.page {
  background: #b129d7;
  border-radius: 13px;
  margin-top: 25px;
  height: auto;
  display: flex;
  justify-content: center;
}
.page p {
  padding-left: 5px;
  font-family: "Be Vietnam Pro", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 50px;
  color: #fff;
  cursor: pointer;
  padding: 0 5px 0 5px;
}
.selectedPage {
  font-weight: 600;
  border-bottom: 4px solid #fff;
}
.arrows {
  max-width: 20px;
  cursor: pointer;
}
